body{
	font-family: Cabin, sans-serif;
	height: 100%;
	width: 100%;
	background-color: #0D0106;
	color: #FBFBFF;
}

a, a:hover{
	text-decoration: none;
	color: white;
}

/* SPLASH PAGE ==============================================*/

#hamburger-menu{
	height: 40px;
	margin-top: 10px;
	margin-left: 10px;
}

#dropdown{
	position: absolute;
	display: none;
	width: 63px;
	height: 61px;
	margin-left: 26px;
}

#name{
	width: 50%;
	margin: auto;
	text-align: center;
	margin-top: 250px;
	height: 20%;
}

#intro-name, #intro-title{
	display: none;
}

.menu-item:hover{
	background-color: #545452;
	border-radius: 25px;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
}

/* NAVBAR ============================================================*/

#navbar-name{
	padding-top: 15px;
	font-size: 15px;
	color: #9d9d9d;
	font-family: 'Josefine Slab', serif;
	font-size: 20px;
}

#nav-links{
	float: right;
	font-family: 'Josefine Sans', sans-serif;
}

.navbar{
	border-bottom: 3px solid #30343F;
}

/* PORTFOLIO ======================================================*/

#myCarousel{
	margin-top: 40px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.portfolio-image{
	border: 2px solid #222;
}

#temp-title{
	text-align: center;
}

/* ABOUT ME =======================================================*/

#quote{
	color: white;
	}

#quote1{
	margin-left: 35px;
	margin-top: 25px;
}

#quote2{
	margin-left: 116px;
	margin-top: -8px;
}

#bio{
	margin-top: 40px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-size: 17px;
	color: whitesmoke;
}

#bio-text{
	
}

.bio-pic{
	border: 4px solid #30343F;
	padding: 2px;
}

#bio-pic1{
	float: right;
	height: 191px;
	margin-left: 10px;
	margin-bottom: 10px;
}

#bio-pic2{
	float: left;
	margin-right: 10px;
	height: 223px;
}